<div *ngIf="currentCuenta" class="edit-form">
    <br>

    <!--
    <form>
        <div class="form-group">
            <label for="title">Descripcion</label>
            <input type="text" class="form-control" [(ngModel)]="movimiento.descripcion" name="descripcion" />
            <br>
            <label for="title">Importe</label>
            <input type="number" class="form-control" [(ngModel)]="movimiento.importe" name="importe" />
            <br>
            <div *ngIf="movimiento.tipoMovimiento; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <div>
                    <label><strong>Tipo de Movimiento: </strong></label>
                    {{ movimiento.tipoMovimiento.nombre }}
                </div>
            </ng-template>
            <ng-template #elseBlock>
                <div class="col">
                    <h4>Tipo de Movimiento</h4>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let tm of tiposMovimiento">
                            <button class="badge badge-warning" (click)="seleccionarTipoMovimiento(tm)">
                                {{ tm.nombre }}
                            </button>
                        </li>
                    </ul>
                </div>
            </ng-template>
        </div>
    </form>
    -->




    <form [formGroup]="movimientoForm" #formDir="ngForm">
        <div class="cross-validation"
            [class.cross-validation-error]="movimientoForm.errors?.identityRevealed && (movimientoForm.touched || movimientoForm.dirty)">
            <div class="form-group">
                <label for="tipoMovimiento">Tipo de movimiento</label>
                <select id="tipoMovimiento" class="form-control" formControlName="tipoMovimiento" required>
                    <option *ngFor="let tm of tiposMovimiento" [value]="tm.id">{{tm.nombre}}</option>
                </select>

                <div *ngIf="tipoMovimiento.invalid && tipoMovimiento.touched" class="alert alert-danger">
                    <div *ngIf="tipoMovimiento.errors.required">Debe elegir el tipo de movimiento</div>
                </div>
            </div>
            <div class="form-group">
                <label for="importe">Importe</label>
                <input type="number" id="importe" class="form-control" formControlName="importe" required>
                <div *ngIf="importe.invalid" class="alert alert-danger">
                    <div *ngIf="importe.errors.required">
                        Debe ingresar un importe
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripcion</label>
                <input type="text" id="descripcion" class="form-control" formControlName="descripcion">

                <div *ngIf="descripcion.invalid" class="alert alert-danger alter-ego-errors">
                    <div *ngIf="descripcion.errors.required">
                        Debe ingresar una descripcion
                    </div>
                </div>
            </div>
        </div>
        <button class="badge badge-primary mr-2" (click)="onAgregarMovimiento()" [disabled]="movimientoForm.invalid">
            Confirmar Movimiento
        </button>
    </form>


</div>