<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Cuentas</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="cuentas" class="nav-link">Listado de cuentas</a>
      </li>
      <li class="nav-item">
        <a routerLink="addCuenta" class="nav-link">Crear nueva cuenta</a>
      </li>
    </div>
  </nav>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>