<div class="submit-form">
    <div *ngIf="!submitted">
        <form [formGroup]="cuentaForm" #formDir="ngForm">
            <div class="cross-validation"
                [class.cross-validation-error]="cuentaForm.errors?.identityRevealed && (cuentaForm.touched || cuentaForm.dirty)">
                <div class="form-group">
                    <label for="moneda">Moneda</label>
                    <select id="moneda" class="form-control" formControlName="moneda" required>
                        <option *ngFor="let m of monedas" [value]="m.id">{{m.nombre}}</option>
                    </select>

                    <div *ngIf="moneda.invalid && moneda.touched" class="alert alert-danger">
                        <div *ngIf="moneda.errors.required">Debe elegir una moneda</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nroCuenta">Numero de cuenta</label>
                    <input type="number" id="nroCuenta" class="form-control" formControlName="nroCuenta" required>
                    <div *ngIf="nroCuenta.invalid" class="alert alert-danger">
                        <div *ngIf="nroCuenta.errors.required">
                            Debe ingresar un numero de cuenta
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="saldo">Saldo</label>
                    <input type="number" id="saldo" class="form-control" formControlName="saldo">

                    <div *ngIf="saldo.invalid" class="alert alert-danger alter-ego-errors">
                        <div *ngIf="saldo.errors.required">
                            Debe ingresar el saldo inicial de la cuenta
                        </div>
                    </div>
                </div>
            </div>
            <button (click)="saveCuenta()" class="btn btn-success" [disabled]="cuentaForm.invalid">Crear</button>
        </form>
    </div>
    <div *ngIf="submitted">
        <h4>Se creo correctamente!</h4>
        <button class="btn btn-success" (click)="newCuenta()">Nueva Cuenta</button>
    </div>
</div>