<div class="list row">
    <div class="col-md-6">
        <h4>Lista de cuentas</h4>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let cuenta of cuentas; let i = index" [class.active]="i == currentIndex"
                (click)="setActiveCuenta(cuenta, i)">
                ID: {{ cuenta.id }} Numero de cuenta: {{cuenta.nroCuenta}}
                <button class="badge badge-danger" (click)="borrarCuenta(cuenta, i)">
                    Borrar cuenta
                </button>
            </li>
        </ul>
    </div>
    <div class=" col-md-6">
        <div *ngIf="currentCuenta">
            <h4>Detalle de cuenta</h4>
            <div>
                <label><strong>Moneda:</strong></label>
                {{ currentCuenta.moneda.nombre }}
            </div>
            <div>
                <label><strong>Saldo: </strong></label>
                {{ currentCuenta.moneda.descripcion }}{{ currentCuenta.saldo }}
            </div>

            <div>
                <h4>Movimientos de la cuenta</h4>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let movimiento of currentCuenta.movimientos; let i = index"
                        [class.active]="i == currentIndex">
                        Tipo de Movimiento: {{ movimiento.tipoMovimiento.nombre }}, Importe:
                        {{currentCuenta.moneda.descripcion}}{{movimiento.importe}},
                        Descripcion: {{movimiento.descripcion}}, Fecha: {{movimiento.fecha | date:'dd/MM/yyyy'}}
                    </li>
                </ul>
            </div>

            <button class="badge badge-primary mr-2" (click)="onAgregarMovimiento()">
                Nuevo Movimiento
            </button>

        </div>

        <div *ngIf="!currentCuenta">
            <br />
            <p>Haga click en una cuenta para ver los movimientos</p>
        </div>

        <app-add-movimiento *ngIf="add" [currentCuenta]="currentCuenta" (updateCuenta)="updateCuenta()">
        </app-add-movimiento>
    </div>
</div>